In [ ]:
Varioud types of databases:
    - MySQL
    - MariaDB
    - BigQuery
    - MongoDB
    - Cassandra
    - Redis
    - SqlLIte -> light weight

    Our backend DB is in Cassandra

In [ ]:
Whis IDE you have used for SQL ? 
- DataGrip -> paid
- DBeaver -> free

IDE -> integrated development environment

In [1]:
# load external module
%load_ext sql

In [2]:
# connection string, 
# how to connect with your DB using some connection parameter. 
%sql sqlite://

# data preparation

In [3]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
        ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_7', '2019-11-09 02:00', 1, TRUE, 1.1);

 * sqlite://
Done.
7 rows affected.

[]

# data extraction

In [ ]:
# * -> all detail/entries
# ; -> semicolon

In [4]:
%%sql
select * from sales;

 * sqlite://
Done.

[('sale_1', '2019-11-08 00:00', 0, 1, 1.1),
 ('sale_2', '2019-11-08 01:00', 0, 0, 1.2),
 ('sale_3', '2019-11-08 01:00', 0, 1, 1.3),
 ('sale_4', '2019-11-08 01:00', 1, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_7', '2019-11-09 02:00', 1, 1, 1.1)]

In [ ]:
# I want key, product, completed status of sales where 
# time is > 1:00 and price is less than 1.3

# "avinash" > "sharu"
# 50 > 20

In [19]:
%%sql

select key, product, completed from sales where ts > "2019-11-08 01:00" and price < 1.3;

 * sqlite://
Done.

[]

In [22]:
%%sql

select * from sales where ts > "2019-11-08 01:00";

 * sqlite://
Done.

[('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]

In [9]:
%%sql
select * from sales where price > 1.4;

 * sqlite://
Done.

[('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]

In [7]:
%%sql
select ts from sales;

 * sqlite://
Done.

[('2019-11-08 00:00',),
 ('2019-11-08 01:00',),
 ('2019-11-08 01:00',),
 ('2019-11-08 01:00',),
 ('2019-11-08 02:00',),
 ('2019-11-08 02:00',)]

In [8]:
%%sql
select * from sales where product = 1;

 * sqlite://
Done.

[('sale_4', '2019-11-08 01:00', 1, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]

In [6]:
%%sql
select ts, product from sales where price > 1.4;

 * sqlite://
Done.

[('2019-11-08 02:00', 1), ('2019-11-08 02:00', 1)]

In [15]:
%%sql 
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite://
Done.

[('sales',)]

https://www.w3schools.com/sql/sql_select.asp
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_where